<div>
    <h1 class='fx_header_title fx_m_ico'>Markets</h1>
    <hr class='fx-hr'>
    <p>Low stock levels have had a large impact on price volatility during recent food price surges. Stocks can provide an effective temporary buffer against an unexpected supply or demand shock, so estimating and monitoring their size at global level, especially as regards expected utilization, helps determine market risk. The stock level of major exporters is a particularly important indicator of available supply in global markets.</p>
</div>