<div>
    <h1 class='fx_header_title fx_p_ico'>Prices</h1>
    <hr class='fx-hr'>
    <p>
Providing information on international commodity prices is key to monitoring global food markets. International commodity prices might indicate changes in supply and demand in major producing and consuming countries, or signal policy actions, such as a tightening of trade measures or changes in governmental purchase and stocking regimes, which have proved to be important drivers of food prices and food price volatility at global level.
    </p>
</div>