[submodule "src/main/webapp/submodules/fenix-ui-metadata-editor"]
	path = src/main/webapp/submodules/fenix-ui-metadata-editor
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-editor.git
[submodule "src/main/webapp/submodules/fenix-ui-common"]
	path = src/main/webapp/submodules/fenix-ui-common
	url = https://github.com/FENIX-Platform/fenix-ui-common.git
[submodule "src/main/webapp/submodules/amis-ui-policy-data-entry"]
	path = src/main/webapp/submodules/amis-ui-policy-data-entry
	url = ../amis-ui-policy-data-entry.git
[submodule "fenix-ui-data-management"]
	path = fenix-ui-data-management
	url = ../../FENIX-Platform/fenix-ui-data-management.git
[submodule "src/main/webapp/submodules/fenix-ui-data-management"]
	path = src/main/webapp/submodules/fenix-ui-data-management
	url = ../../FENIX-Platform/fenix-ui-data-management.git
[submodule "src/main/webapp/submodules/fenix-ui-datamanagement-commons"]
	path = src/main/webapp/submodules/fenix-ui-datamanagement-commons
	url = ../../FENIX-Platform/fenix-ui-datamanagement-commons.git
[submodule "src/main/webapp/submodules/fenix-ui-metadata-viewer"]
	path = src/main/webapp/submodules/fenix-ui-metadata-viewer
	url = ../../FENIX-Platform/fenix-ui-metadata-viewer.git
