/* Key scaffolding
-------------------------------------------------- */
html{  height: 100%; }

body {
    background-color: #f9f7f3;
    position: relative; /* For scrollyspy */
    color: #666666 !important;
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    height: 100%;
}

em {font-style: normal;}

* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #154179;
}

.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li a:active {
    background-color: white;
    border-color: #dddddd;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:active{
    background-color: #2a5d9f !important;
    color: white !important;
}




.well{
    background-color: #FFFFFF;
    box-shadow: none;
}

.form-control:focus {
    border-color:  #265797;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(0, 122, 255, 0.5);
    outline: 0 none;
}

.fx_btn_submit{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background-color: #265797;
    height: 30px;
    width: 130px;
    text-align: center;
    color:#FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
    padding-top: 4px
}

.fx_btn_submit:disabled{
    /* background-color: #B2B2CC; */
}

.fx-hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC !important;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-top: 0px;
}

.fx-hr-home {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC !important;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

/* Common to Macroareas
-------------------------------------------------- */
.fx-macroarea-header {
    padding-top: 20px;
    /*display: inline-block;*/
}

.fx-macroarea-header-text{
    max-width: 730px;
}

.fx-macroarea-header-title{
    color: #265797 !important;
    font-size: 24px;
    padding-right: 30px;
    margin-left: -5px;
}

.btn-primary {
    background-color: #FFFFFF;

}

.amis-header {
    background-image: url("img/banner/title.png");  /* Change with the real path */
    background-repeat: no-repeat;
    height: 86px;
}

.fx-header .fx_header_title {
    color: #df2f00 !important;
    font-size: 24px;
}

.fx_header_title_sidebar{
    color: #df2f00 !important;
    font-size: 24px;
}

.side-affix.affix{
    top: -20px;
    width: 263px;
}

.side-affix #sidemenu_items{
    margin: 0;
    padding: 0;
}


/* STATISTICAL NOTES */



.amis-notes-box{
    background-color: #fafafa;
    padding-bottom: 15px;
}

.amis-notes-box ul {
    padding: 0px;
    list-style: none;
}


.amis-notes-box ul li{
    margin-bottom: 5px;
    padding-left: 1em;
    text-indent: -.7em;
}

.amis-notes-box ul li a{
    font-weight: bold;
}

.amis-notes-box ul li:before {
    content: "• ";
    color: #265797; /* or whatever color you prefer */
}

/* GRAPH THUMBNAILS */

a[href="#bd0_submenu1-title"] {
    /*height: 90px;*/

    /*background: url('img/graph-thumbnail/bio-I.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}

/*#id {*/
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/bio-I.png') no-repeat bottom center;*/
    /*margin-bottom: 10px;*/
    /*border-right: 1px solid white;*/
/*}*/

a[href="#bd0_submenu3_title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/bio-II.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}



a[href="#bd1_submenu1-title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/biopol-I.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}


a[href="#bd1_submenu3-title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/biopol-II.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}

a[href="#bd4_submenu1-title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/import.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}

a[href="#bd3_submenu1_title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/export.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}

a[href="#bd2_submenu1-title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/exporestr-I.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}

a[href="#bd2_submenu3-title"] {
    /*height: 90px;*/
    /*background: url('img/graph-thumbnail/exporestr-II.png') no-repeat bottom center;*/
    margin-bottom: 10px;
    border-right: 1px solid white;
}