/* View
-------------------------------------------------- */

.fx-header .container {
    position: relative;
}

.fx_header_title {
    color: #265797 !important;
    font-size: 20px;
}

.fx_section_title {
    color: #265797 !important;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.fx_map_section_title{
    font-weight: 300;
    display: inline-block;
    margin-bottom: 20px;
}

.fx_map_sequence {
    display: inline-block;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666666;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 6px;
}

.fx_ndvi_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/ndvi-ico.png")

}

.fx_p_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/p-ico.png")

}

.fx_m_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/m-ico.png")

}

.fx_fss_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/fss-ico.png")

}







/* Responsive variations
-------------------------------------------------- */
/* Tablets and up */
@media screen and (min-width: 768px) {

    /*
    .fx-header {
      font-size: 21px;
      text-align: left;
    }
    .fx-header h1 {
      font-size: 60px;
      line-height: 1;
    }
    */

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

    /*
    .fx-header h1,
    .fx-header p {
      margin-right: 380px;
    }
    */
}





/* RESTYLING*/

/* iDangerous Swiper */
.slider_container{
    position: relative;
}

.arrow-left {
    z-index: 100;
    background: url(img/freccia-sx.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    width: 34px;
    height: 34px;
}
.arrow-right {
    background: url(img/freccia-dx.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    width: 34px;
    height: 34px;
    z-index: 100;
}
.swiper-container {
    height: 350px;
}
.swiper-slide {
    height: 350px;
}

.content-slide {
    padding: 0 50px;
    color: #fff;
    height: 350px;
}

.chart-container {
    height: 350px;
}
.title {
    font-size: 25px;
    margin-bottom: 10px;
}
