/* View
-------------------------------------------------- */

.fx-header .container {
    position: relative;
}

.fx_header_title {
    color: #265797 !important;
    font-size: 24px;
}

.fx_header_title_small {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #265797 !important;
    font-size: 24px;
}

.fx_section_title {
    color: #265797 !important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.fx_map_section_title{
    font-weight: 300;
    display: inline-block;
    margin-bottom: 20px;
}

.fx_map_sequence {
    display: inline-block;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666666;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 6px;
}

.fx_ndvi_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/ndvi-ico.png")

}

.fx_p_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/p-ico.png")

}

.fx_m_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/m-ico.png")

}

.fx_fss_ico {
    background-repeat: no-repeat;
    height: 37px;
    padding: 5px 0 0 50px;
    background-image: url("img/icons/fss-ico.png")

}

.amis-header {
    background-image: url("img/banner/title.png");  /* Change with the real path */
    background-repeat: no-repeat;
    border-bottom: 1px solid #CCCCCC;
    height: 86px;
}


/* Responsive variations
-------------------------------------------------- */
/* Tablets and up */
@media screen and (min-width: 768px) {

    /*
    .fx-header {
      font-size: 21px;
      text-align: left;
    }
    .fx-header h1 {
      font-size: 60px;
      line-height: 1;
    }
    */

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

    /*
    .fx-header h1,
    .fx-header p {
      margin-right: 380px;
    }
    */
}