/*For generic component start*/
.policy-button{
    display: none;
}

.policy-button-show{
    display: inline;
    margin: 5px;
    float: right;
}

.float-fix{
    float:none;
}

.float-fix-checkbox{
    float:left;
}
/*For generic component end*/