<div>
    <div id='generalinformation'>
      <h5 class='fx_section_title'>General Information</h5>
      <hr class="fx-hr">
      <div>
         <div class='row'>
          <div class='col-lg-12'>
            <p>
            The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012). Unemployment remains a significant problem, however, with an estimated 50 million youth unemployed.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-6'>
            <br>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Indicator</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Population (1000's)</b> 2010</td>
                  <td>158,423</td>
                </tr>
                <tr>
                  <td><b>GDP</b> 2011</td>
                  <td>246,985,812,128 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>FDI</b> 2011</td>
                  <td>8,841,952,784 $</td>
                </tr>
                <tr>
                  <td><b>Unemployment</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>Inflation</b> 2011</td>
                  <td>2.34%</td>
                </tr>
                <tr>
                  <td><b>Consumer Perice Index</b> 2011</td>
                  <td>420.30</td>
                </tr>
                <tr>
                  <td><b>National Poverty Rates</b> 2011</td>
                  <td>152,280 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class='col-lg-6'>
            <div id='chart-one'></div>
          </div>
        </div>
      </div>    
    </div>
    <div id='foodsecurity'>
      <h5 class='fx_section_title'>Food Security</h5>
      <hr class="fx-hr">
      <div >
        <div class='row'>
          <div class='col-lg-6'>
            <p>
    Nigeria is also the biggest oil exporter in Africa, with the continent’s largest natural gas reserves. Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
    <br><br>
    Nigeria is also the biggest oil exporter in Africa, with the continent’s largest natural gas reserves. Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012). Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
    <br><br>
    The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
            </p>
          </div>
          <div class='col-lg-6'>
            <div id='chart-two'></div>
          </div>
        </div>
      </div>
    </div>
    <div id='agriculturalproduction'>
      <h5 class='fx_section_title'>Agricultural Production</h5>
      <hr class="fx-hr">
      <div >
      <div class='row'>
          <div class='col-lg-12'>
Nigeria is also the biggest oil exporter in Africa, with the continent’s largest natural gas reserves. Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
<br><br>
Nigeria is also the biggest oil exporter in Africa, with the continent’s largest natural gas reserves. Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012). Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
<br><br>
The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).

          </div>
        </div>
        <div class='row'>
          <div class='col-lg-6'>
             <iframe width="100%" height="368px" frameborder='0' src="http://fenixapps.fao.org/maps/api?baselayers=esri_wsm,mapquest_nasa&layers=gaul0_3857,gaul1_3857&styles=gaul_green,gaul1_line_green&zoomto=gaul0(182)&cql_filter=adm0_code+IN+(182);adm0_code+IN+(182)&addlayerscontrol=true&showcontroloverlays=true&layertitle=Country+boundaries,Administrative+level+1"> </iframe>
          </div>
          <div class='col-lg-6'>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Indicator</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Population (1000's)</b> 2010</td>
                  <td>158,423</td>
                </tr>
                <tr>
                  <td><b>GDP</b> 2011</td>
                  <td>246,985,812,128 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>FDI</b> 2011</td>
                  <td>8,841,952,784 $</td>
                </tr>
                <tr>
                  <td><b>Unemployment</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>Inflation</b> 2011</td>
                  <td>2.34%</td>
                </tr>
                <tr>
                  <td><b>Consumer Perice Index</b> 2011</td>
                  <td>420.30</td>
                </tr>
                <tr>
                  <td><b>National Poverty Rates</b> 2011</td>
                  <td>152,280 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>              
     
    </div>
    <div id='agriculturalexport'>
      <h5 class='fx_section_title'>Agricultural Exports</h5>
      <hr class="fx-hr">
        <div >
         <div class='row'>
          <div class='col-lg-12'>
            <p>
            The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012). Unemployment remains a significant problem, however, with an estimated 50 million youth unemployed.
            <br><br>
            Nigeria is also the biggest oil exporter in Africa, with the continent’s largest natural gas reserves. Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
<br><br>
Nigeria is also the biggest oil exporter in Africa, with the continent’s largest natural gas reserves. Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012). Nigeria’s oil wealth has helped it maintain relatively steady economic growth despite recent global financial downturns. The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
<br><br>
The country’s GDP grew from 6 percent in 2008 to 8.4 percent in 2010 (World Bank 2012).
            </p>
          </div>
        </div>
      </div>               
    </div>
    <div id='agriculturalimport'>
       <h5 class='fx_section_title'>Agricultural Imports</h5>
       <hr class="fx-hr">                
       <div >
        <div class='row'>
          <div class='col-lg-6'>
              <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Indicator</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Population (1000's)</b> 2010</td>
                  <td>158,423</td>
                </tr>
                <tr>
                  <td><b>GDP</b> 2011</td>
                  <td>246,985,812,128 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>FDI</b> 2011</td>
                  <td>8,841,952,784 $</td>
                </tr>
                <tr>
                  <td><b>Unemployment</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>Inflation</b> 2011</td>
                  <td>2.34%</td>
                </tr>
                <tr>
                  <td><b>Consumer Perice Index</b> 2011</td>
                  <td>420.30</td>
                </tr>
                <tr>
                  <td><b>National Poverty Rates</b> 2011</td>
                  <td>152,280 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class='col-lg-6'>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Indicator</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Population (1000's)</b> 2010</td>
                  <td>158,423</td>
                </tr>
                <tr>
                  <td><b>GDP</b> 2011</td>
                  <td>246,985,812,128 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>FDI</b> 2011</td>
                  <td>8,841,952,784 $</td>
                </tr>
                <tr>
                  <td><b>Unemployment</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
                <tr>
                  <td><b>Inflation</b> 2011</td>
                  <td>2.34%</td>
                </tr>
                <tr>
                  <td><b>Consumer Perice Index</b> 2011</td>
                  <td>420.30</td>
                </tr>
                <tr>
                  <td><b>National Poverty Rates</b> 2011</td>
                  <td>152,280 $</td>
                </tr>
                <tr>
                  <td><b>GNI Per Capita</b> 2011</td>
                  <td>1,280 $</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>  
    </div>
</div>