<div>
  <div id='wheatstocks'>
    <h5 class='fx_section_title'>Wheat Stocks</h5>
    <hr class="fx-hr">
    <div class='row'>
      <div class='col-lg-12'>
         It promotes a better understanding of developments in global food markets. A central task in this regard is to monitor market and policy drivers that impact on global food prices and their volatility.
    <br><br>
        <div id="amis_mm_stu_charts_container">
          <table id="amis_mm_stu_charts" border="0" width="100%">
            <tr><td><div id="amis_mm_stu_chart_1" style="height: 450px;"></div></td></tr>
          </table>
        </div>

      </div>
    </div>
  </div>
  <br><br>	
  <div id='maizestocks'>
    <h5 class='fx_section_title'>Maize Stocks</h5>
    <hr class="fx-hr">
Stocks refer to global inventories, which are calculated based on the level of ending stocks at the close of national crop seasons of the individual countries.
The stock-to-use ratio is defined as the sum of ending stocks of all countries divided by their total utilization.
    <br><br>
    <div class='row'>
      <div class='col-lg-12'>
        <div id="amis_mm_stu_charts_container">
          <table id="amis_mm_stu_charts" border="0" width="100%">
            <tr><td><div id="amis_mm_stu_chart_5" style="height: 450px;"></div></td></tr>
            </table>
        </div>

      </div>
    </div>
  </div>
  <br><br>
  <div id='ricestocks'>
    <h5 class='fx_section_title'>Rice Stocks</h5>
    <hr class="fx-hr">
    The stock-to-disappearance ratio is defined as the sum of ending stocks held by major exporters of a specific commodity divided by these countries’ domestic utilization and exports.
    <br><br>
    <div class='row'>
      <div class='col-lg-12'>
        <div id="amis_mm_stu_charts_container">
          <table id="amis_mm_stu_charts" border="0" width="100%">
            <tr><td><div id="amis_mm_stu_chart_4" style="height: 450px;"></div></td></tr>
          </table>
        </div>

      </div>
    </div>
  </div>
  <br><br>
  <div id='soybeansstocks'>
    <h5 class='fx_section_title'>Soybeans Stocks</h5>
    <hr class="fx-hr">
    The stock-to-disappearance ratio is defined as the sum of ending stocks held by major exporters of a specific commodity divided by these countries’ domestic utilization and exports.
     It promotes a better understanding of developments in global food markets. A central task in this regard is to monitor market and policy drivers that impact on global food prices and their volatility.
    <br><br>
    <div class='row'>
      <div class='col-lg-12'>
        <div id="amis_mm_stu_charts_container">
          <table id="amis_mm_stu_charts" border="0" width="100%">
            <tr><td><div id="amis_mm_stu_chart_6" style="height: 450px;"></div></td></tr>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>