<div>
  <div class="row">
    <div class="col-lg-12"> <h5 class='fx_section_title'>Nigeria MODIS NDVI</h5>
    <hr class="fx-hr">
    
     </div>
    
  </div>

  <div class="row">
      <div class="col-lg-6">
      	  <em class="fx_map_sequence">1</em>
          <h5 class="fx_map_section_title">September 13, 2013</h5>
          <div id='map1' class='fm-box' style='overflow: hidden; margin: 0 auto; text-align: left;  height: 300px;'></div>
      </div>
      <div class="col-lg-6">
          <em class="fx_map_sequence">2</em>
          <h5 class="fx_map_section_title">September 29, 2013</h5>
          <div id='map2' class='fm-box' style='overflow: hidden; margin: 0 auto; text-align: left;height: 300px;'></div>
      </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-6">
        <em class="fx_map_sequence">3</em>
        <h5 class="fx_map_section_title">October 15, 2013</h5>
        <div id='map3' class='fm-box' style='overflow: hidden; margin: 0 auto; text-align: left; height: 300px;'></div>
    </div>
    <div class="col-lg-6">
        <em class="fx_map_sequence">4</em>
        <h5 class="fx_map_section_title">October 15, 2013</h5>
        <div id='map4' class='fm-box' style='overflow: hidden; margin: 0 auto; text-align: left; height: 300px;'></div>
    </div>
  </div>
</div>