<div>
  <div id='igcpriceindices'>
    <h5 class='fx_section_title'>IGC Price Indices</h5>
	<hr class="fx-hr">
        <div class='row'>
      <div class='col-lg-12'>
        The daily IGC Grains and Oilseeds Index is comprised of the commodities plus barley, sorghum, and rapeseed/canola. With January 2000 taken as its base, component weightings are based on their five-year average share of the total trade of all commodities considered. The sub-indices for wheat, maize, rice and soybeans are based on daily price quotations from several official and trade sources.
      </div>
    </div>

    <div class='row'>
      <div class='col-lg-12'>

        <div id="amis_mm_p_charts_container">
        <br>
          <table id="amis_mm_p_charts" border="0" width="100%">
            <tr><td><div id="amis_mm_p_chart_IGC" style="width: 100%; height: 450px;"></div></td></tr>
          </table>
        </div>
      
      </div>
    </div>
  </div>
<br><br>
  <div id='internationalwheatprices'>
    <h5 class='fx_section_title'>International Wheat Prices (Weekly)</h5>
	<hr class="fx-hr">
    <div class='row'>
      <div class='col-lg-12'>
        International commodity prices might indicate changes in supply and demand in major producing and consuming countries, or signal policy actions, such as a tightening of trade measures or changes in governmental purchase and stocking regimes, which have proved to be important drivers of food prices and food price volatility at global level.
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <div id="amis_mm_p_charts_container">
        <br>
          <table id="amis_mm_p_charts" border="0"  width="100%">
            <tr><td><div id="amis_mm_p_chart_2301" style="width: 100%; height: 450px;"></div></td></tr>
          </table>
        </div>
      
      </div>
    </div>
  </div> 
<br><br>
  <div id='wheatfuturesprices'>
    <h5 class='fx_section_title'>Wheat Futures Prices and Simple Moving Average (Daily)</h5>
 	<hr class="fx-hr">
    <div class='row'>
      <div class='col-lg-12'>
        International commodity prices might indicate changes in supply and demand in major producing and consuming countries, or signal policy actions, such as a tightening of trade measures or changes in governmental purchase and stocking regimes, which have proved to be important drivers of food prices and food price volatility at global level.
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>

        <div id="amis_mm_p_charts_container">
        <br>
          <table id="amis_mm_p_charts" border="0"  width="100%">
            <tr><td><div id="amis_mm_p_chart_WFSMA" style="width: 100%; height: 450px;"></div></td></tr>
          </table>
        </div>
      
      </div>
    </div>
  </div> 

</div>